body {
    margin: 0;
    background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
#option-one:hover,#option-two:hover, #option-three:hover, #option-four:hover, #startOver:hover{
    background-color: purple;
    border: 2px solid white;
}

#container{
    opacity: 0.8;
}

button{
    background-color: transparent;
    color: white;
    border: none;
}